<h2>Sign up</h2>

<form (ngSubmit)="register()" [formGroup]="userForm">
 <div>
    <label>Nom </label><input formControlName="nom">
 </div>

 <div>
   <label>Fournisseur </label><input formControlName="fournisseur">
 </div>

 <div>
    <label>Age </label><input formControlName="age">
  </div>

  <div>
    <label>Description </label><input formControlName="description">
  </div>

 <button type="submit">Register</button>
</form>

<style>

   form{
      float: left;
   }

   input.ng-invalid {
      border: 3px blue solid;
   }

   input.ng-invalid.ng-dirty {
      border: 3px blue solid;
   }

   div .errors{
      font-weight:bold;
      color: red;
   }
</style>