<!--The content below is only a placeholder and can be replaced.-->
<div>
  <student style="float:left; width: 50%"></student>
  <!-- <app-form></app-form> -->
</div>

<router-outlet>
</router-outlet>