<div *ngIf="produits.length > 0">
  <button (click)="ajouterFormulaire()">Ajouter</button>
  <table>
    <tr>
      <th>Nom</th>
      <th>Fournisseur</th>
      <th>Email Fournisseur</th>
      <th>Ingrédients</th>
      <th>Description</th>
      <th>Age</th>
      <th>Condition de conservation</th>
      <th>Prix</th>
    </tr>

    <tr *ngFor="let produit of produits; " >
      <td>{{produit.nom | uppercase}}</td>
      <td>{{produit.fournisseur}}</td>
      <td>{{produit.emailFournisseur}}</td>
      <td>{{produit.ingredients}}</td>
      <td>{{produit.description | lowercase | slice:0:20 }}</td>
      <td>{{produit.age}}</td>
      <td>{{produit.condition}}</td>
      <td>{{produit.prix  | number:'.2'}}€</td>
      <button (click)="suppr(produit)">Suppression</button>
    </tr>
  </table>


  <form (ngSubmit)="register()" [formGroup]="userForm" *ngIf="showFormulaire()">
      <div>
          <label>Nom </label><input formControlName="nom">
      </div>
      
      <div>
        <label>Fournisseur </label><input formControlName="fournisseur">
      </div>
      
      <div>
          <label>Age </label><input formControlName="age">
        </div>
      
        <div>
          <label>Description </label><input formControlName="description">
        </div>
      
      <button type="submit">Register</button>
    </form>
</div>

<style>
  table{
      border-collapse: collapse;
  }

  td, th{
      border: 1px solid black;
  }
</style>